*{
	box-sizing:border-box;
}

h1{
	text-align: center;
	font-size: 38px;
	margin: 20px;
	font-family: sans-serif;
}

.searchBarWrapper{
	width: 800px;
  	margin: 0 auto;
}

.searchBarWrapper #searchInput{
	width: 100%;
	height: 50px;
	font-size: 24px;
	padding: 10px;	
}

.searchResultsWrapper{
	width:800px;
	margin:20px auto;
	padding:10px;
	border-radius:2px;
	border:1px solid #ccc;
	background:#f8f8ff;
}

.ui-widget-content{
	background:#f8f8f8;
}

.fa-check{
	margin:0 5px;
	color:#00b140;
}

@media(max-width: 820px){
	h1{
		font-size:30px;
	}
	
	.searchBarWrapper #searchInput{
		font-size:18px;
	}
		
	.searchResultsWrapper, .searchBarWrapper{
		width:90%;
	}
}